{
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "jsxSingleQuote": true,
  "printWidth": 100,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",

  "overrides": [
    {
      "files": [".prettier*"],
      "options": {
        "parser": "json"
      }
    }
  ],

  "tailwindFunctions": ["tw", "twJoin", "twMerge"],
  "plugins": ["prettier-plugin-organize-attributes", "prettier-plugin-tailwindcss"]
}
